language: python
python:
  - "2.7"

cache:
  directories:
    - $HOME/.cache/pip

addons:
  apt:
    packages:
      - libhdf5-serial-dev

install:
  - pip install -r requirements.txt
  - pip install coveralls coverage

script: nosetests tests/

after_success:
    - coveralls